@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*  ESTILIZAÇÃO HEADER */
.container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  padding: 10px;
}

.logo {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.logo span {
  position: relative;
}

.logo span::before {
  content: '';
  color: #ffffff;
  animation: palavras 7s infinite;
}

.logo span::after {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 2px solid #ffffff;
  right: -1.8px;
  animation: cursor 2s infinite, digita 9s steps(10) infinite;
  width: calc(88% + 15px);
  background-color: #000000;
}

.logo,
.sociais {
  width: 25%;
}

.menu {
  width: 50%;
}

.menu nav a {
  color: #808080;
  text-decoration: none;
  padding-right: 35px;
  font-size: 18px;
  position: relative;
}

/*ANIMAÇÃO MENU DE NAVEGAÇÃO */
.menu nav a::after {
  content: '  ';
  width: 0px;
  height: 2px;
  background-color: #808080;
  position: absolute;
  bottom: 0px;
  top: 23px;
  left: 0;
  transition: 0.5s;
}

.menu nav a:hover::after {
  width: 70px;
}

.sociais button {
  width: 30px;
  height: 40px;
  background: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.sociais button i {
  font-size: 18px;
  color: #ffffff;
}

/* SESSÃO SOBRE */

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Texto da sessão SOBRE */
.texto-sobre {
  padding: 35px;
  font-size: 15px;
}

/* Imagem da sessão SOBRE */
.img-sobre img {
  margin: 45px;
  width: 510px;
  padding: 37px;
  margin-left: 35px;
}

/* SESSÃO COMPOSIÇÕES*/

.composicao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 20px;
}

.imagem-composicao img {
  margin: 45px;
  width: 510px;
  height: auto;
  padding: 37px;
  margin-left: 35px;
}

.texto-composicao {
  padding: 35px;
  font-size: 12px;
  text-align: left;
}

@keyframes palavras {
  0%,
  20% {
    content: 'Fábio Alcântara';
  }
  21%,
  40% {
    content: 'Música é vida!';
  }
  41%,
  80% {
    content: 'Música é saúde!';
  }
}

@keyframes cursor {
  0% {
    border-left: 2px solid #ffffff;
  }
}

@keyframes digita {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(88% + 15px);
  }
}
