@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  padding: 35px;
  position: relative;
}

.cabecalho-menu {
  display: flex;
  gap: 25px;
}

/*EFEITO DO CABEÇALHO*/
nav a {
  color: #000000;
  font-size: 18px;
  position: relative;
}

nav a::after {
  content: '';
  width: 0%;
  height: 1.5px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}

/* SESSÃO SOBRE */

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  flex-direction: row;
  align-content: flex-start;
  margin-bottom: 20px;
}

.texto-sobre {
  padding: 35px;
  font-size: 15px;
}

.imagem-sobre img {
  max-width: 95%;
  height: auto;
  padding: auto;
}

/* SESSÃO COMPOSIÇÕES*/

.composicao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 20px;
}

.imagem-composicao img {
  max-width: 87%;
  height: auto;
  padding: auto;
  margin-left: 35px;
}

.texto-composicao {
  padding: 35px;
  font-size: 12px;
  text-align: left;
}
